@import '../../../../assets/sass/sass-assets.scss';

.CartItem {
    border: 1px solid lightgrey;
    position: relative;
    height: 100px;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;

    .product-details {
        position: relative;
        display: flex;

        img {
            object-fit: contain;
            max-width: 70px;

        }

        p {
            padding-left: 30px;
        }

        h4 {
            padding-bottom: 10px;
            font-size: 18px;
        }

        .XButton {
            top: 0;
            right: 0;
        }
    }
}
